

body {
  font-family: Arial, sans-serif;

    padding: 20px;
    width: 100%;
    background: rgba(51, 51, 51, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }




.tienda h1 {
  text-align: center;
  color: #ffffff;
}

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  padding: 20px;
}

.producto {
  background:  rgba(128, 127, 127, 0.466);
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 8px;
}

.producto img {
  width: 300px;
  height: auto;
  border-radius: 4px;
}

.producto img:hover {
transform: scale(1.6);
}

button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #046d8a;
}

      

.ColecMonsterXAI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("FondoTienda.JPG");
  background-size: cover;
  background-position: center;
  padding: 40px;
  margin: 20px auto;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(102, 102, 102, 0.2);
}

.ColecMonsterXAI .productos {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap; 
  width: 100%;
}

.ColecMonsterXAI .producto {
  width: auto; 
  background: rgba(44, 42, 42, 0.527);
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(255, 188, 246);
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.ColecMonsterXAI img {
  max-width: 100%; 
  height: auto;
  border-radius: 4px;
}
